/*Navbar*/

.navvbar-brand{
	color: red;
}

a > span {
	font-weight: bold;
	font-size: 125%;
	color: #fff;
	border: 2px solid #fff;
	padding:4px;
	margin-right: 5px;
}

.navbar-nav{
	float: right;
	margin-right: 75px;
}